@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body {
    background-image: url(images/photo-1554226983-8a81adeda0c1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}






*{
  cursor: url("images/animal-paw-print.png"), auto;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.head {
    float: right;
    margin-right: 90px;
    color: black;
    font-size: 30px;
    font-family: 'Nerko One', cursive;
}

.calc{
  
  position: relative;
  width: 25%;
  height: 110%;
  padding: 10px 25px;
  float: right;
  margin-right: 400px;
  margin-top: 50px;
  background: #fff;
  border-radius: 8px;
}

.form{ width: 100%; height: 100%; }

h1, h2, #dogage { 
  text-align: center;
  display: block;
}

h1{ 
  color: #606060;
  font-weight: bold;
  font-size: 40px;
  margin: 30px auto;
}

#dogage, .calculate{
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 30px;
}

#dogage { background: #ecf0f1; }

#humanyears, .result {
    color: #000000;
}



.calculate {
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: #3598dc;
  transition: background 0.4s ease;
}

.calculate:hover{ background: #3570dc; }

@media only screen and (min-width : 280px) {
  .cont{ width: 90% }
}

@media only screen and (min-width : 480px) {
  .cont{ width: 60% }
}

@media only screen and (min-width : 768px) {
  .cont{ width: 40% }
}

@media only screen and (min-width : 992px) {
  .cont{ width: 30% }
}

h2 { 
    color: #fff; 
    margin-top: 25px;
    font-size: 20px;
}




