body {
    background-image: url(images/photo-1554226983-8a81adeda0c1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

.